* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
  font-family: sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #1d1d1d;
}

.general-wrapper {
  width: 80%;
  max-height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  padding: 2%;
}


#main-title {
  margin: 3%;
  text-align: start;
}

.score-board {
  display: flex;
  justify-content: space-between;
}


.main-container {
  display: flex;
  justify-content: space-evenly;
}

.text-2 {
  margin-bottom: 5%;
}

.your-name,
.your-score {
  padding: 2%;
}
